<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/file?name=style.css">
    <link rel="icon" href="/file?name=bot.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>BOT TN</title>
</head>

<body>
    <div id="all">
        <div id="cabecera">
            <div id="title_cabecera">
              <a href="/index2" class="homeLink">
                Bot Trinitat Nova
              </a>
            </div>
            <!-- <input id="buscador_cabecera" type="text" placeholder="Buscar..."> -->
            <a href="/login" id="login_cabecera">Log In</a>
        </div>
        <div id="cuerpo">
            <div id="enlaces">
                <ul>
                    <% Object.keys(tables).forEach(key => { %>
                        <li><a href="/info"><%=tables[key]%></a></li>
                    <% }); %>
                </ul>
            </div>
            <div id="eventos">
                <a href="#">
                    <div class="evento">
                        Evento 1
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 2
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 3
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 4
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 5
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 6
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 7
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 8
                    </div>
                </a>
                <a href="#">
                    <div class="evento">
                        Evento 9
                    </div>
                </a>
            </div>
            <div id="qr">
                <img id="qr_img" src="/file?name=QR.png">
                <a href="https://wa.me/message/E5USRNWNH4VBL1">
                    <button id="qr_button">
                        WhatsApp Bot
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>