<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/file?name=style.css">
    <link rel="icon" href="/file?name=bot.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>BOT TN</title>
</head>

<body>
    <div id="all">
        <div id="cabecera">
            <div id="title_cabecera">
              <a href="/" class="homeLink">
                Bot Trinitat Nova
              </a>
            </div>
        </div>
        <div id="cuerpo">
            <div id="qr">
                <button id="myBtn">Instrucciones</button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p> Titulo de pagina = vuelta al menu </br> Botones cambio noticias eventos </p>
                    </div>
                </div>
                <img id="qr_img" src="/file?name=QR.png">
                <a href="https://wa.me/message/E5USRNWNH4VBL1">
                    <button id="qr_button">
                        WhatsApp Bot
                    </button>
                </a>
            </div>
            <div id="eventos2">
                <div id="seleccion">
                    <button id="btn_divn">Noticias</button>
                    <button id="btn_dive">Eventos</button>
                </div>
                <div id="block">
                    <div class="div_noticias" id="div_noticias">
                        <a href="#">
                            <div class="evento2">
                                Noticia 1
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Noticia 2
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Noticia 3
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Noticia 4
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Noticia 5
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Noticia 6
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Noticia 7
                            </div>
                        </a>
                    </div>
                    <div class="div_eventos" id="div_eventos">
                        <a href="#">
                            <div class="evento2">
                                Evento 1
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Evento 2
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Evento 3
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Evento 4
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Evento 5
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Evento 6
                            </div>
                        </a>
                        <a href="#">
                            <div class="evento2">
                                Evento 7
                            </div>
                        </a>
                    </div>
                </div>
            </div>
          
            <script>
                var btn_divn = document.getElementById("btn_divn");
                var btn_dive = document.getElementById("btn_dive");
                var div_noticias = document.getElementById("div_noticias");
                var div_eventos = document.getElementById("div_eventos");
                btn_divn.addEventListener('click', ()=>{
                    div_noticias.style.display='block';
                    div_eventos.style.display='none';
                });
                btn_dive.addEventListener('click', ()=>{
                    div_noticias.style.display='none';
                    div_eventos.style.display='block';
                });
              
              
                var modal = document.getElementById("myModal");
                var btn = document.getElementById("myBtn");
                var span = document.getElementsByClassName("close")[0];
                btn.onclick = function() {
                  modal.style.display = "block";
                }
                span.onclick = function() {
                  modal.style.display = "none";
                }
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                } 
            </script>
        </div>
    </div>
</body>

</html>