<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/file?name=style.css">
    <link rel="icon" href="/file?name=bot.png" type="image/png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOT TN Login</title>
</head>
<body id="login_body">
    <div id="login-div">
        <input type="text" class="login-data" placeholder="Correu electronic...">
        <input type="password" class="login-data" placeholder="Contrasenya...">

        <div>
            <a href="/admin">
                <button id="login-button">
                    Log in
                </button>
            </a>
        </div>
        <div id="atras_div">
            <a class="atras_button" href="/">Atras</a>  
        </div>
    </div>
</body>
</html>